<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ScreenQ.Properties.Settings>
            <setting name="PopupIsChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultToolSize" serializeAs="String">
                <value>5 px</value>
            </setting>
            <setting name="XMLTypoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedLastTool" serializeAs="String">
                <value>MANUAL</value>
            </setting>
            <setting name="ScreenID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScreenShotSavePath" serializeAs="String">
                <value>./</value>
            </setting>
            <setting name="SaveAndClose" serializeAs="String">
                <value>False</value>
            </setting>
        </ScreenQ.Properties.Settings>
    </userSettings>
</configuration>